.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
  background: -webkit-linear-gradient(to top, #f64f59, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#f64f59, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  